<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container">
    <a class="navbar-brand" style="color: white" href="#">TaskList-Užduočių sąrašas</a>
    <div class="flex">
      <ul class="navbar-nav gap-1">
        <li class="nav-item">
          <a class="nav-link text-bg-primary" routerLink="/">Užduočių sąrašas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-bg-success" routerLink="/new">Pridėti užduotį</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-bg-success" routerLink="/about">Apie</a>
        </li> 
      </ul>
    </div>
  </div>
</nav>
